@import url(fontawesome.min.css);

/* Basic */

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    justify-content: center;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    /* padding: 180px 320px 180px 320px; */
}

.login-area{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
    #user-info{
        width: 400px;
        height: 100px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        align-items: center;
        justify-items: center;
    }
        input{
            border: none;
            border-bottom: 1px solid #c8c8c8;
            outline: none;
            width: 360px;
            height: auto;
            padding-bottom: 8px;
            color: var(--Teera-main,  #0500E3);
            font-family: SF Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 16.8px */
            letter-spacing: -0.14px;
            /* caret-color: transparent; */
        }
            ::placeholder {
                color: #c8c8c8;
                opacity: 1; /* Firefox */
            }
            input:focus {
                border-bottom: 1px solid var(--Teera-main,  #0500E3);
            }

    #buttons{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        margin-top: 40px;
    }

#canvas {
    position: absolute;
    top: 0;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 200px);
    /* transform: translate(-50%, -50%); */
    /* border: 1px solid var(--Teera-main,  #0500E3);  */
}
    video{
        width: 100%;
        height: calc(100vh - 200px);
    }

.say-hi{
    text-align: center;
    color: var(--Teera-main, #0500E3);
    text-align: center;
    font-family: SF Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
    margin-bottom: 40px;
}
    h4{
        margin: 0 0 10px 0;
        color: var(--Teera-main, #0500E3);
        text-align: center;
        font-family: SF Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
        letter-spacing: 0.24px;
    }

.card{
    width: 445px;
    height: 283px;
    /* flex-shrink: 0; */
    border-radius: 10px;
    border: 1px solid var(--Teera-highlight-1, #00F0FF);
    background: #FFF;
    border-radius: 10px;
    /* border: 0px solid var(--Teera-Highlight-2, #FF09E6); */
    /* background: #FFF; */
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
}
    #FALSE.card{
        border: none;
    }
    header{
        padding: 4px;
        
        font-family: SF Pro;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
    }
        div#quit{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        header h5{
            color: var(--Teera-Highlight-2, #FF09E6);
            font-weight: 400;
            font-size: 22px;
            text-align: center;
            /* letter-spacing: 0.22px; */
            margin: 5px 0;
        }
        header p{
            color: var(--Teera-Highlight-2, #FF09E6);
            font-family: SF Pro;
            text-align: center;
            font-size: 12px;
            line-height: 100%;
            /* letter-spacing: 0.12px; */
            margin: 2px 0;
        }
        .pattern{
            width: 445px;
            height: 157px;
            flex-shrink: 0;
            padding: 0;
            margin-top: 10px;
        }
            img.pattern{
                width: 100%;
                height: auto;
            }



/* Buttons */

#teera{
    margin-top: 32px;
    width: 50%;
    height: auto;
    border: 0;
    background: none;
    position: absolute;
    top: calc(100vh - 150px);
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px;
    cursor: pointer;
}
    img{
        width: 141px;
        height: 141px;
        padding: 10px;
    }

#sign-in{
    width: 79px;
    height: 30px;
    border-radius: 4px;
    margin: 10px;
    border: 0;
    background: var(--Teera-main, #0500E3);
    border-radius: 4px;
    color: #FFF;
    text-align: center;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.28px;
    cursor: pointer;
}
    #sign-in:hover{
        background-color: #1355ff;
    }

.underline{
    color: var(--Teera-main, #0500E3);
    text-align: center;
    font-family: SF Pro;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 13.2px */
    background: none;
    border: 0;
    cursor: pointer;
}
    
    #forget{
        width: 100%;
        height: auto;
    }
    .underline:hover{
        color: var(--Teera-main, #0500E3);
        border-bottom: 1px solid var(--Teera-main, #0500E3);
    }

/* Images */
.logo{
    margin-top: 200px;
}
    img#logo{
            width: 100px;
            height: auto;
            cursor: pointer;
        }
img#fake-page{
    width: 100vw;
    height: 100vh;
}

button#back{
    position: absolute;
    left: 0;
    top: calc(100vh - 264px);
    width: 360px;
    height: 264px;
    border: none;
    color: white;
    background: none;
}

div.back a{
    color: white;
}